.jumbotron {
 background-image:url('Photos/paint.jpg'); /*this is the background img of the jumbotron */
}


.jumbotron > div { /* When a div is a child of a jumobtron. Experimental for future purposes */
  font-size:50px;
  color:black;
}



.blue-gradient { /* button gradient */
  background: linear-gradient(to right, #6a3093, #a044ff);
  height:80px;
  width:125px;
  border-radius:5%!important;/* curves the edges !important overrides built in bootstrap */
}

.bg-custom { /* setting background colour for elements in middle of page */
  background-image: linear-gradient(215deg, #70b2d9 0%, #ADD8E6, #ADD8E6 94%, #ADD8E6 0%); /* means that it will cover 74percent which leaves a cool triangle design */
  opacity:1; /* for above ^ degrees determines where gradient starts ie angle, percentage determines what percentage of that layer the colour takes*/
}

.mb-0 { /* no margin */
  margin-bottom: 0 !important;

}

.b-pad { /* padding for the "switch button" */
    padding-bottom:10px!important;
}

.button-mt { /* button margin top */
  margin-top: 15% !important;
}




.carousel-container {  /* countainer for my image carousel . In case it's used*/
  overflow:hidden;

}

.carousel-slide{ /*  image slideshow */
  display:flex;

}


.hidden { /* image at bottom of page */
  width:100%!important;  /* full width */
  margin-top:20px!important; /*20px margin */
}


.run-container{ /* container for text at bottom of page */
  position: absolute; /* will be exactly where I position it */
  top:120%;
  margin: 0 auto;
  text-align: center; /*text is centered */
  width: 100%; /* Set the width of the positioned div */
}


.run-text { /* text at the bottom of the page*/
  top:115%;
  position:absolute; /*exactly where I position it */
  width:100%;
  font-size:30px;
}

@media only screen and (max-width: 750px) { /* This is for the text and its container to not display on small screens*/
  .run-text {
    display:none;
  }
  .run-container {
    display:none;
  }
}

@media only screen and (max-height: 750px) { /* This is for the text and its container to not display on small screens*/
  .run-text {
    display:none;
  }
  .run-container {
    display:none;
  }
}
